<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.title, task_path(task) %>:
      <% if task.completed == true %>
      <%= "Done" %>
      <% else %>
      <%= "Not done" %>
      <% end %>
      <%= link_to "Delete", task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    </li>
  <% end %>
</ul>

<p><%= link_to "+ Add a new task", tasks_new_path %></p>
